* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Cores*/

    --preto: #141414;
    --claro: #FFDDFF;
    --lilas: #EE82EE;
    --roxo: #865086;


    font-family: 'Unbounded', sans-serif;

}

h1 {
    text-align: center;
    font-size: 6.25rem;

}

h2,h3,h4,p {
  
    color: var(--bordo);
    /* cor de exemplo */
}

h2 {
    /* nome diretor na homepage */
    font-size: 6rem;

}

