* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Cores*/

    --preto: #141414;
    --claro: #FFDDFF;
    --lilas: #EE82EE;
    --roxo: #865086;


    font-family: 'Unbounded', sans-serif;

}
body{
    background-color:var(--preto);
}

 #intro{
    position: relative;
    height: 100vh;
   display: flex;
    align-items: center;
    justify-content: center;
 }
 h1 {
    font-size: 5.5rem;
    color: var(--lilas);
    text-align: left;
    display: flex;
    justify-content: center;
   
}

h2 {
    font-size: 2rem;
    color: var(--claro);
}

h4 {
    font-size:1rem;
    color: var(--claro);
}

/*
.menulist li {
    display: inline;
}*/
.menu{
 position: fixed;
 left: 50%; /* Center the menu horizontally */
 transform: translate(-50%, -50%); /* Centering trick */

}

.menulist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    background-color: rgba(134, 80, 134, 0.2); /* Use rgba for background color with 30% opacity */
    width: 35vw;
    height: 10vh;
    border-radius: 10px;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    bottom: 50vh;
  
}
.menulist li a{
     text-decoration: none;
}

